In [3]:
import numpy as np 
import pandas as pd 
# import seaborn as sns 
# import matplotlib.pyplot as plot

In [4]:
df = pd.read_csv("D:\\Downloadss\\Global Power Plant.csv")

In [5]:
df

,country,country_long,name,gppd_idnr,capacity_mw,latitude,longitude,primary_fuel,other_fuel1,other_fuel2,...,year_of_capacity_data,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,generation_gwh_2018,generation_gwh_2019,generation_data_source,estimated_generation_gwh
0,IND,India,ACME Solar Tower,WRI1020239,2.5,28.1839,73.2407,Solar,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,IND,India,ADITYA CEMENT WORKS,WRI1019881,98.0,24.7663,74.6090,Coal,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,IND,India,AES Saurashtra Windfarms,WRI1026669,39.2,21.9038,69.3732,Wind,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,IND,India,AGARTALA GT,IND0000001,135.0,23.8712,91.3602,Gas,NaN,NaN,...,2019.0,NaN,617.789264,843.747000,886.004428,663.774500,626.239128,NaN,Central Electricity Authority,NaN
4,IND,India,AKALTARA TPP,IND0000002,1800.0,21.9603,82.4091,Coal,Oil,NaN,...,2019.0,NaN,3035.550000,5916.370000,6243.000000,5385.579736,7279.000000,NaN,Central Electricity Authority,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
902,IND,India,YERMARUS TPP,IND0000513,1600.0,16.2949,77.3568,Coal,Oil,NaN,...,2019.0,NaN,NaN,0.994875,233.596650,865.400000,686.500000,NaN,Central Electricity Authority,NaN
903,IND,India,Yelesandra Solar Power Plant,WRI1026222,3.0,12.8932,78.1654,Solar,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
904,IND,India,Yelisirur wind power project,WRI1026776,25.5,15.2758,75.5811,Wind,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
905,IND,India,ZAWAR MINES,WRI1019901,80.0,24.3500,73.7477,Coal,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
906,IND,India,iEnergy Theni Wind Farm,WRI1026761,16.5,9.9344,77.4768,Wind,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
df.shape

(907, 27)

In [7]:
df.describe()

,capacity_mw,latitude,longitude,other_fuel3,commissioning_year,wepp_id,year_of_capacity_data,generation_gwh_2013,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,generation_gwh_2018,generation_gwh_2019,estimated_generation_gwh
count,907.000000,861.000000,861.000000,0.0,527.000000,0.0,519.0,0.0,398.000000,422.000000,434.000000,440.000000,448.000000,0.0,0.0
mean,326.223755,21.197918,77.464907,NaN,1997.091082,NaN,2019.0,NaN,2431.823590,2428.226946,2467.936859,2547.759305,2600.804099,NaN,NaN
std,590.085456,6.239612,4.939316,NaN,17.082868,NaN,0.0,NaN,4026.440035,4194.596959,4162.884308,4196.991169,4314.880456,NaN,NaN
min,0.000000,8.168900,68.644700,NaN,1927.000000,NaN,2019.0,NaN,0.000000,0.000000,0.000000,0.000000,0.000000,NaN,NaN
25%,16.725000,16.773900,74.256200,NaN,1988.000000,NaN,2019.0,NaN,223.557672,176.381062,188.285252,177.874930,193.378250,NaN,NaN
50%,59.200000,21.780000,76.719500,NaN,2001.000000,NaN,2019.0,NaN,801.123775,711.181225,737.205450,817.977250,751.644375,NaN,NaN
75%,385.250000,25.512400,79.440800,NaN,2012.000000,NaN,2019.0,NaN,3035.306250,3084.121250,3282.861313,3275.690475,3143.535900,NaN,NaN
max,4760.000000,34.649000,95.408000,NaN,2018.000000,NaN,2019.0,NaN,28127.000000,30539.000000,30015.000000,35116.000000,35136.000000,NaN,NaN

In [8]:
df.isnull().sum()

country                       0
country_long                  0
name                          0
gppd_idnr                     0
capacity_mw                   0
latitude                     46
longitude                    46
primary_fuel                  0
other_fuel1                 709
other_fuel2                 906
other_fuel3                 907
commissioning_year          380
owner                       565
source                        0
url                           0
geolocation_source           19
wepp_id                     907
year_of_capacity_data       388
generation_gwh_2013         907
generation_gwh_2014         509
generation_gwh_2015         485
generation_gwh_2016         473
generation_gwh_2017         467
generation_gwh_2018         459
generation_gwh_2019         907
generation_data_source      458
estimated_generation_gwh    907
dtype: int64

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 907 entries, 0 to 906
Data columns (total 27 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   country                   907 non-null    object
 1   country_long              907 non-null    object
 2   name                      907 non-null    object
 3   gppd_idnr                 907 non-null    object
 4   capacity_mw               907 non-null    float64
 5   latitude                  861 non-null    float64
 6   longitude                 861 non-null    float64
 7   primary_fuel              907 non-null    object
 8   other_fuel1               198 non-null    object
 9   other_fuel2               1 non-null      object
 10  other_fuel3               0 non-null      float64
 11  commissioning_year        527 non-null    float64
 12  owner                     342 non-null    object
 13  source                    907 non-null    object
 14  url                       907 non-null    object
 15  geolocation_source        888 non-null    object
 16  wepp_id                   0 non-null      float64
 17  year_of_capacity_data     519 non-null    float64
 18  generation_gwh_2013       0 non-null      float64
 19  generation_gwh_2014       398 non-null    float64
 20  generation_gwh_2015       422 non-null    float64
 21  generation_gwh_2016       434 non-null    float64
 22  generation_gwh_2017       440 non-null    float64
 23  generation_gwh_2018       448 non-null    float64
 24  generation_gwh_2019       0 non-null      float64
 25  generation_data_source    449 non-null    object
 26  estimated_generation_gwh  0 non-null      float64
dtypes: float64(15), object(12)
memory usage: 191.4+ KB

In [10]:
df.duplicated().sum()

0

In [11]:
df = df.drop(columns=["other_fuel2", "other_fuel3", "wepp_id", "generation_gwh_2013", "generation_gwh_2019", "estimated_generation_gwh","other_fuel1","owner","url","country","country_long"], axis=1)

In [12]:
df.columns

Index(['name', 'gppd_idnr', 'capacity_mw', 'latitude', 'longitude',
       'primary_fuel', 'commissioning_year', 'source', 'geolocation_source',
       'year_of_capacity_data', 'generation_gwh_2014', 'generation_gwh_2015',
       'generation_gwh_2016', 'generation_gwh_2017', 'generation_gwh_2018',
       'generation_data_source'],
      dtype='object')

In [13]:
df.describe()

,capacity_mw,latitude,longitude,commissioning_year,year_of_capacity_data,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,generation_gwh_2018
count,907.000000,861.000000,861.000000,527.000000,519.0,398.000000,422.000000,434.000000,440.000000,448.000000
mean,326.223755,21.197918,77.464907,1997.091082,2019.0,2431.823590,2428.226946,2467.936859,2547.759305,2600.804099
std,590.085456,6.239612,4.939316,17.082868,0.0,4026.440035,4194.596959,4162.884308,4196.991169,4314.880456
min,0.000000,8.168900,68.644700,1927.000000,2019.0,0.000000,0.000000,0.000000,0.000000,0.000000
25%,16.725000,16.773900,74.256200,1988.000000,2019.0,223.557672,176.381062,188.285252,177.874930,193.378250
50%,59.200000,21.780000,76.719500,2001.000000,2019.0,801.123775,711.181225,737.205450,817.977250,751.644375
75%,385.250000,25.512400,79.440800,2012.000000,2019.0,3035.306250,3084.121250,3282.861313,3275.690475,3143.535900
max,4760.000000,34.649000,95.408000,2018.000000,2019.0,28127.000000,30539.000000,30015.000000,35116.000000,35136.000000

In [14]:
df.corr()

C:\Users\Jarvis\AppData\Local\Temp\ipykernel_25612\3514509782.py:1: FutureWarning: The default value of numeric_only in DataFrame.corr is deprecated. In a future version, it will default to False. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.corr()

,capacity_mw,latitude,longitude,commissioning_year,year_of_capacity_data,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,generation_gwh_2018
capacity_mw,1.000000,0.051309,0.197129,0.304087,NaN,0.839094,0.844352,0.870620,0.886673,0.901918
latitude,0.051309,1.000000,0.036362,0.129902,NaN,0.060330,0.048610,0.041387,0.040568,0.040476
longitude,0.197129,0.036362,1.000000,0.121910,NaN,0.013511,0.022760,0.050732,0.048678,0.045599
commissioning_year,0.304087,0.129902,0.121910,1.000000,NaN,0.160014,0.170363,0.193743,0.191367,0.193694
year_of_capacity_data,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
generation_gwh_2014,0.839094,0.060330,0.013511,0.160014,NaN,1.000000,0.961098,0.937060,0.912561,0.902781
generation_gwh_2015,0.844352,0.048610,0.022760,0.170363,NaN,0.961098,1.000000,0.974918,0.940191,0.934371
generation_gwh_2016,0.870620,0.041387,0.050732,0.193743,NaN,0.937060,0.974918,1.000000,0.972024,0.962073
generation_gwh_2017,0.886673,0.040568,0.048678,0.191367,NaN,0.912561,0.940191,0.972024,1.000000,0.985856
generation_gwh_2018,0.901918,0.040476,0.045599,0.193694,NaN,0.902781,0.934371,0.962073,0.985856,1.000000

In [15]:
numeric_columns = df.select_dtypes(include='number').columns.tolist()
non_numeric_columns = df.columns.difference(numeric_columns)
# non_numeric_columns
df[non_numeric_columns].value_counts()
# df.columns()

generation_data_source         geolocation_source  gppd_idnr   name             primary_fuel  source
Central Electricity Authority  WRI                 IND0000001  AGARTALA GT      Gas           Central Electricity Authority    1
                                                   IND0000275  MOYAR            Hydro         Central Electricity Authority    1
                                                   IND0000373  RELIANCE ENERGY  Gas           Central Electricity Authority    1
                                                   IND0000372  RAYAL SEEMA      Coal          Central Electricity Authority    1
                                                   IND0000371  RATNAGIRI GAS    Gas           Central Electricity Authority    1
                                                                                                                              ..
                                                   IND0000178  KAMALANGA        Coal          Central Electricity Authority    1
                                                   IND0000176  KALISINDH        Coal          Central Electricity Authority    1
                                                   IND0000175  KALINADI SUPA    Hydro         Central Electricity Authority    1
                                                   IND0000174  KALINADI         Hydro         Central Electricity Authority    1
                                                   IND0000540  PARE             Hydro         Central Electricity Authority    1
Length: 449, dtype: int64

In [16]:
non_numeric_columns

Index(['generation_data_source', 'geolocation_source', 'gppd_idnr', 'name',
       'primary_fuel', 'source'],
      dtype='object')

In [17]:
df["generation_data_source"].value_counts()

Central Electricity Authority    449
Name: generation_data_source, dtype: int64

In [18]:
count=1
for i in non_numeric_columns:
    x=df[i].value_counts()
    
    print(count ,"    " ,i)
    print()
    print(x)
    print()
    print()
    count+=1

1      generation_data_source

Central Electricity Authority    449
Name: generation_data_source, dtype: int64


2      geolocation_source

WRI                                     765
Industry About                          119
National Renewable Energy Laboratory      4
Name: geolocation_source, dtype: int64


3      gppd_idnr

WRI1020239    1
IND0000356    1
IND0000346    1
IND0000523    1
WRI1019978    1
             ..
IND0000167    1
IND0000168    1
IND0000169    1
IND0000170    1
WRI1026761    1
Name: gppd_idnr, Length: 907, dtype: int64


4      name

ACME Solar Tower           1
RAICHUR                    1
PRYAGRAJ (BARA) TPP        1
PULICHINTALA               1
PUNE MILL                  1
                          ..
KADANA                     1
KADRA                      1
KAHALGAON                  1
KAIGA                      1
iEnergy Theni Wind Farm    1
Name: name, Length: 907, dtype: int64


5      primary_fuel

Coal       258
Hydro      251
Solar      127
Wind       123
Gas         69
Biomass     50
Oil         20
Nuclear      9
Name: primary_fuel, dtype: int64


6      source

Central Electricity Authority                                  519
CDM                                                            124
Lancosola                                                       10
National Renewable Energy Laboratory                             8
National Thermal Power Corporation (NTPC)                        6
                                                              ...
Harsha Engineers Limited                                         1
Godawari Energy ltd                                              1
Sunkon Energy Private Limited                                    1
West Bengal Energy Development Corporation Limited (WBEDCL)      1
Yashwantrao Krishna ssk                                          1
Name: source, Length: 191, dtype: int64

In [19]:
df=df.drop(columns=["generation_data_source","name","gppd_idnr"],axis=1)

In [20]:
df.shape

(907, 13)

In [21]:
df.isnull().sum()

capacity_mw                0
latitude                  46
longitude                 46
primary_fuel               0
commissioning_year       380
source                     0
geolocation_source        19
year_of_capacity_data    388
generation_gwh_2014      509
generation_gwh_2015      485
generation_gwh_2016      473
generation_gwh_2017      467
generation_gwh_2018      459
dtype: int64

In [22]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 907 entries, 0 to 906
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   capacity_mw            907 non-null    float64
 1   latitude               861 non-null    float64
 2   longitude              861 non-null    float64
 3   primary_fuel           907 non-null    object
 4   commissioning_year     527 non-null    float64
 5   source                 907 non-null    object
 6   geolocation_source     888 non-null    object
 7   year_of_capacity_data  519 non-null    float64
 8   generation_gwh_2014    398 non-null    float64
 9   generation_gwh_2015    422 non-null    float64
 10  generation_gwh_2016    434 non-null    float64
 11  generation_gwh_2017    440 non-null    float64
 12  generation_gwh_2018    448 non-null    float64
dtypes: float64(10), object(3)
memory usage: 92.2+ KB

In [23]:
df["geolocation_source"].value_counts()

WRI                                     765
Industry About                          119
National Renewable Energy Laboratory      4
Name: geolocation_source, dtype: int64

In [24]:
# import seaborn as sns
# sns.pairplot(df)

In [28]:
# yaha se ant-sant try

In [29]:
df.isnull().sum()

capacity_mw                0
latitude                  46
longitude                 46
primary_fuel               0
commissioning_year       380
source                     0
geolocation_source        19
year_of_capacity_data    388
generation_gwh_2014      509
generation_gwh_2015      485
generation_gwh_2016      473
generation_gwh_2017      467
generation_gwh_2018      459
dtype: int64

In [30]:
df= df.drop(columns=["latitude","longitude"],axis=1)

In [31]:
df

,capacity_mw,primary_fuel,commissioning_year,source,geolocation_source,year_of_capacity_data,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,generation_gwh_2018
0,2.5,Solar,2011.0,National Renewable Energy Laboratory,National Renewable Energy Laboratory,NaN,NaN,NaN,NaN,NaN,NaN
1,98.0,Coal,NaN,Ultratech Cement ltd,WRI,NaN,NaN,NaN,NaN,NaN,NaN
2,39.2,Wind,NaN,CDM,WRI,NaN,NaN,NaN,NaN,NaN,NaN
3,135.0,Gas,2004.0,Central Electricity Authority,WRI,2019.0,617.789264,843.747000,886.004428,663.774500,626.239128
4,1800.0,Coal,2015.0,Central Electricity Authority,WRI,2019.0,3035.550000,5916.370000,6243.000000,5385.579736,7279.000000
...,...,...,...,...,...,...,...,...,...,...,...
902,1600.0,Coal,2016.0,Central Electricity Authority,WRI,2019.0,NaN,0.994875,233.596650,865.400000,686.500000
903,3.0,Solar,NaN,Karnataka Power Corporation Limited,Industry About,NaN,NaN,NaN,NaN,NaN,NaN
904,25.5,Wind,NaN,CDM,WRI,NaN,NaN,NaN,NaN,NaN,NaN
905,80.0,Coal,NaN,Hindustan Zinc ltd,WRI,NaN,NaN,NaN,NaN,NaN,NaN
906,16.5,Wind,NaN,CDM,WRI,NaN,NaN,NaN,NaN,NaN,NaN

In [32]:
df.isnull().sum()

capacity_mw                0
primary_fuel               0
commissioning_year       380
source                     0
geolocation_source        19
year_of_capacity_data    388
generation_gwh_2014      509
generation_gwh_2015      485
generation_gwh_2016      473
generation_gwh_2017      467
generation_gwh_2018      459
dtype: int64

In [33]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 907 entries, 0 to 906
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   capacity_mw            907 non-null    float64
 1   primary_fuel           907 non-null    object
 2   commissioning_year     527 non-null    float64
 3   source                 907 non-null    object
 4   geolocation_source     888 non-null    object
 5   year_of_capacity_data  519 non-null    float64
 6   generation_gwh_2014    398 non-null    float64
 7   generation_gwh_2015    422 non-null    float64
 8   generation_gwh_2016    434 non-null    float64
 9   generation_gwh_2017    440 non-null    float64
 10  generation_gwh_2018    448 non-null    float64
dtypes: float64(8), object(3)
memory usage: 78.1+ KB

In [34]:
# drop row that contain null value in geolocation_source column 
df.dropna(subset=["geolocation_source"],inplace=True)

### subset = use to drop row from entire data that contain null value in sppecific column

In [35]:
df.shape

(888, 11)

In [40]:
# df.isnull().sum().sum()
df.isnull().sum()

capacity_mw                0
primary_fuel               0
commissioning_year       365
source                     0
geolocation_source         0
year_of_capacity_data    369
generation_gwh_2014      490
generation_gwh_2015      466
generation_gwh_2016      454
generation_gwh_2017      448
generation_gwh_2018      440
dtype: int64

In [42]:
df.groupby("source")["generation_gwh_2014"].count()

source
ACME Cleantech Solutions Private Limited                       0
ACME Solar Energy                                              0
AES Winfra                                                     0
Acc Acc ltd                                                    0
Adani Power Limite r Er                                        0
                                                              ..
Welspun Solar Punjab Private Limited                           0
West Bengal Energy Development Corporation Limited (WBEDCL)    0
West Coast Paper Mills Ltd.                                    0
Yashwantrao Krishna ssk                                        0
Ym Ssk ltd                                                     0
Name: generation_gwh_2014, Length: 191, dtype: int64

In [44]:
# yaha mene check kia h ki kya jo data dia h  vo particular source category  ka hi dia h 
# or baki ka null h ya sabi catigory ka kuch data dia h 
df.groupby("source")["year_of_capacity_data"].sum()

source
ACME Cleantech Solutions Private Limited                       0.0
ACME Solar Energy                                              0.0
AES Winfra                                                     0.0
Acc Acc ltd                                                    0.0
Adani Power Limite r Er                                        0.0
                                                              ...
Welspun Solar Punjab Private Limited                           0.0
West Bengal Energy Development Corporation Limited (WBEDCL)    0.0
West Coast Paper Mills Ltd.                                    0.0
Yashwantrao Krishna ssk                                        0.0
Ym Ssk ltd                                                     0.0
Name: year_of_capacity_data, Length: 191, dtype: float64

yaha mene notice kia ki yaha source = Central Electricity Authority ke lia hi data dia h
baki kisi catagory ke lie columns ( = commissioning_year,year_of_capacity_data,generation_gwh_2014,
generation_gwh_2015,generation_gwh_2016,generation_gwh_2017)      me  values nahi di h

In [52]:
df2 =df.fillna({"year_of_capacity_data":"2019"})
df2['year_of_capacity_data'] = df2['year_of_capacity_data'].astype(int)

In [54]:
df2["commissioning_year"]= df2["commissioning_year"].fillna(1)

In [55]:
df2

,capacity_mw,primary_fuel,commissioning_year,source,geolocation_source,year_of_capacity_data,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,generation_gwh_2018
0,2.5,Solar,2011.0,National Renewable Energy Laboratory,National Renewable Energy Laboratory,2019,NaN,NaN,NaN,NaN,NaN
1,98.0,Coal,1.0,Ultratech Cement ltd,WRI,2019,NaN,NaN,NaN,NaN,NaN
2,39.2,Wind,1.0,CDM,WRI,2019,NaN,NaN,NaN,NaN,NaN
3,135.0,Gas,2004.0,Central Electricity Authority,WRI,2019,617.789264,843.747000,886.004428,663.774500,626.239128
4,1800.0,Coal,2015.0,Central Electricity Authority,WRI,2019,3035.550000,5916.370000,6243.000000,5385.579736,7279.000000
...,...,...,...,...,...,...,...,...,...,...,...
902,1600.0,Coal,2016.0,Central Electricity Authority,WRI,2019,NaN,0.994875,233.596650,865.400000,686.500000
903,3.0,Solar,1.0,Karnataka Power Corporation Limited,Industry About,2019,NaN,NaN,NaN,NaN,NaN
904,25.5,Wind,1.0,CDM,WRI,2019,NaN,NaN,NaN,NaN,NaN
905,80.0,Coal,1.0,Hindustan Zinc ltd,WRI,2019,NaN,NaN,NaN,NaN,NaN
906,16.5,Wind,1.0,CDM,WRI,2019,NaN,NaN,NaN,NaN,NaN

In [56]:
df2.isnull().sum()

capacity_mw                0
primary_fuel               0
commissioning_year         0
source                     0
geolocation_source         0
year_of_capacity_data      0
generation_gwh_2014      490
generation_gwh_2015      466
generation_gwh_2016      454
generation_gwh_2017      448
generation_gwh_2018      440
dtype: int64

In [57]:
columns_to_fill = ["generation_gwh_2014","generation_gwh_2015","generation_gwh_2016","generation_gwh_2017","generation_gwh_2018"]
df2[columns_to_fill] = df2[columns_to_fill].fillna(df2[columns_to_fill].min())

In [59]:
df2.isnull().sum()

capacity_mw              0
primary_fuel             0
commissioning_year       0
source                   0
geolocation_source       0
year_of_capacity_data    0
generation_gwh_2014      0
generation_gwh_2015      0
generation_gwh_2016      0
generation_gwh_2017      0
generation_gwh_2018      0
dtype: int64

In [60]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 888 entries, 0 to 906
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   capacity_mw            888 non-null    float64
 1   primary_fuel           888 non-null    object
 2   commissioning_year     888 non-null    float64
 3   source                 888 non-null    object
 4   geolocation_source     888 non-null    object
 5   year_of_capacity_data  888 non-null    int32
 6   generation_gwh_2014    888 non-null    float64
 7   generation_gwh_2015    888 non-null    float64
 8   generation_gwh_2016    888 non-null    float64
 9   generation_gwh_2017    888 non-null    float64
 10  generation_gwh_2018    888 non-null    float64
dtypes: float64(7), int32(1), object(3)
memory usage: 79.8+ KB

In [66]:
from sklearn.preprocessing import StandardScaler
sc=StandardScaler()
df2_numeric_columns = df2.select_dtypes(include='number').columns.tolist()  
df2_numeric_columns 
scal_data = sc.fit_transform(df2[df2_numeric_columns])

df2[df2_numeric_columns] = scal_data

['capacity_mw',
 'commissioning_year',
 'year_of_capacity_data',
 'generation_gwh_2014',
 'generation_gwh_2015',
 'generation_gwh_2016',
 'generation_gwh_2017',
 'generation_gwh_2018']

In [67]:
df2

,capacity_mw,primary_fuel,commissioning_year,source,geolocation_source,year_of_capacity_data,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,generation_gwh_2018
0,-0.554984,Solar,0.849621,National Renewable Energy Laboratory,National Renewable Energy Laboratory,0.0,-0.369299,-0.368391,-0.381961,-0.392763,-0.394492
1,-0.394338,Coal,-1.196922,Ultratech Cement ltd,WRI,0.0,-0.369299,-0.368391,-0.381961,-0.392763,-0.394492
2,-0.493249,Wind,-1.196922,CDM,WRI,0.0,-0.369299,-0.368391,-0.381961,-0.392763,-0.394492
3,-0.332098,Gas,0.842494,Central Electricity Authority,WRI,0.0,-0.159976,-0.099031,-0.101389,-0.186247,-0.206211
4,2.468698,Coal,0.853694,Central Electricity Authority,WRI,0.0,0.659222,1.520363,1.595015,1.282816,1.793961
...,...,...,...,...,...,...,...,...,...,...,...
902,2.132266,Coal,0.854712,Central Electricity Authority,WRI,0.0,-0.369299,-0.368073,-0.307988,-0.123517,-0.188094
903,-0.554143,Solar,-1.196922,Karnataka Power Corporation Limited,Industry About,0.0,-0.369299,-0.368391,-0.381961,-0.392763,-0.394492
904,-0.516295,Wind,-1.196922,CDM,WRI,0.0,-0.369299,-0.368391,-0.381961,-0.392763,-0.394492
905,-0.424617,Coal,-1.196922,Hindustan Zinc ltd,WRI,0.0,-0.369299,-0.368391,-0.381961,-0.392763,-0.394492
906,-0.531434,Wind,-1.196922,CDM,WRI,0.0,-0.369299,-0.368391,-0.381961,-0.392763,-0.394492

In [72]:
x=df2.drop(columns=["primary_fuel"])
y=df2["primary_fuel"]

In [95]:
x_catego_columns = x.select_dtypes(exclude=['number']).columns.tolist()
# print(x_catego_columns)
x_encod = pd.get_dummies(x, columns=x_catego_columns)
x_encod.columns

Index(['capacity_mw', 'commissioning_year', 'year_of_capacity_data',
       'generation_gwh_2014', 'generation_gwh_2015', 'generation_gwh_2016',
       'generation_gwh_2017', 'generation_gwh_2018',
       'source_ACME Cleantech Solutions Private Limited',
       'source_ACME Solar Energy',
       ...
       'source_Vishwanath Sugars ltd',
       'source_Welspun Solar AP Private Limited',
       'source_Welspun Solar Punjab Private Limited',
       'source_West Bengal Energy Development Corporation Limited (WBEDCL)',
       'source_West Coast Paper Mills Ltd.', 'source_Yashwantrao Krishna ssk',
       'source_Ym Ssk ltd', 'geolocation_source_Industry About',
       'geolocation_source_National Renewable Energy Laboratory',
       'geolocation_source_WRI'],
      dtype='object', length=202)

In [96]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test= train_test_split(x_encod,y,test_size=0.15 , random_state=234)

In [97]:
print(x_train.shape,x_test.shape, y_train.shape, y_test.shape)

(754, 202) (134, 202) (754,) (134,)

In [81]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 888 entries, 0 to 906
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   capacity_mw            888 non-null    float64
 1   primary_fuel           888 non-null    object
 2   commissioning_year     888 non-null    float64
 3   source                 888 non-null    object
 4   geolocation_source     888 non-null    object
 5   year_of_capacity_data  888 non-null    float64
 6   generation_gwh_2014    888 non-null    float64
 7   generation_gwh_2015    888 non-null    float64
 8   generation_gwh_2016    888 non-null    float64
 9   generation_gwh_2017    888 non-null    float64
 10  generation_gwh_2018    888 non-null    float64
dtypes: float64(8), object(3)
memory usage: 83.2+ KB

,capacity_mw,commissioning_year,year_of_capacity_data,generation_gwh_2014,generation_gwh_2015,generation_gwh_2016,generation_gwh_2017,generation_gwh_2018,primary_fuel_Biomass,primary_fuel_Coal,...,source_Vishwanath Sugars ltd,source_Welspun Solar AP Private Limited,source_Welspun Solar Punjab Private Limited,source_West Bengal Energy Development Corporation Limited (WBEDCL),source_West Coast Paper Mills Ltd.,source_Yashwantrao Krishna ssk,source_Ym Ssk ltd,geolocation_source_Industry About,geolocation_source_National Renewable Energy Laboratory,geolocation_source_WRI
0,-0.554984,0.849621,0.0,-0.369299,-0.368391,-0.381961,-0.392763,-0.394492,0,0,...,0,0,0,0,0,0,0,0,1,0
1,-0.394338,-1.196922,0.0,-0.369299,-0.368391,-0.381961,-0.392763,-0.394492,0,1,...,0,0,0,0,0,0,0,0,0,1
2,-0.493249,-1.196922,0.0,-0.369299,-0.368391,-0.381961,-0.392763,-0.394492,0,0,...,0,0,0,0,0,0,0,0,0,1
3,-0.332098,0.842494,0.0,-0.159976,-0.099031,-0.101389,-0.186247,-0.206211,0,0,...,0,0,0,0,0,0,0,0,0,1
4,2.468698,0.853694,0.0,0.659222,1.520363,1.595015,1.282816,1.793961,0,1,...,0,0,0,0,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
902,2.132266,0.854712,0.0,-0.369299,-0.368073,-0.307988,-0.123517,-0.188094,0,1,...,0,0,0,0,0,0,0,0,0,1
903,-0.554143,-1.196922,0.0,-0.369299,-0.368391,-0.381961,-0.392763,-0.394492,0,0,...,0,0,0,0,0,0,0,1,0,0
904,-0.516295,-1.196922,0.0,-0.369299,-0.368391,-0.381961,-0.392763,-0.394492,0,0,...,0,0,0,0,0,0,0,0,0,1
905,-0.424617,-1.196922,0.0,-0.369299,-0.368391,-0.381961,-0.392763,-0.394492,0,1,...,0,0,0,0,0,0,0,0,0,1
906,-0.531434,-1.196922,0.0,-0.369299,-0.368391,-0.381961,-0.392763,-0.394492,0,0,...,0,0,0,0,0,0,0,0,0,1

In [98]:
from sklearn.linear_model import LogisticRegression
lr = LogisticRegression(max_iter=200) 
lr.fit(x_train,y_train) 
y_pred = lr.predict(x_test)

In [99]:
from sklearn.metrics import accuracy_score, classification_report, confusion_matrix

In [103]:
accuracy = accuracy_score(y_test, y_pred)
print(f'Accuracy: {accuracy:.2f}')

# Other evaluation metrics
# print(classification_report(y_test, y_pred))

# Confusion matrix
# print('Confusion Matrix:')
print(confusion_matrix(y_test, y_pred))

Accuracy: 0.75
[[ 1  9  0  0  0  0  0  0]
 [ 0 27  0 10  0  0  0  0]
 [ 0  1  1  5  0  0  0  0]
 [ 0  4  0 41  0  0  0  0]
 [ 0  0  0  1  0  0  0  0]
 [ 0  2  0  1  0  0  0  0]
 [ 0  0  0  0  0  0 19  0]
 [ 0  0  0  0  0  0  0 12]]

In [106]:
# now we will predict by the help of random forest

In [107]:
from sklearn.ensemble import RandomForestClassifier
rfc=RandomForestClassifier(n_estimators=400 , random_state=2344)

In [108]:
rfc.fit(x_train,y_train)

RandomForestClassifier(n_estimators=400, random_state=2344)

In [109]:
y_pred2 =rfc.predict(x_test)

In [110]:
accuracy = accuracy_score(y_test, y_pred2)
print(f'Accuracy: {accuracy:.3f}')

Accuracy: 0.813